In [5]:
import pandas as pd

# Load CSV
df = pd.read_csv("Data Collection.csv")

# Strip whitespace from column names
df.columns = df.columns.str.strip()

# Rename only the required columns
df = df.rename(columns={
    "Hobby_top1": "hobby_top1",
    "Hobby_top1  ": "hobby_top1",  # in case of trailing spaces
    "Club top1": "club_top1",
    "Club top1  ": "club_top1",
    "Reads Books": "reads_books",
    "Reads Books   ": "reads_books",
    "Weekly_hobby_hours   \nprovide values integer between between 0-40": "weekly_hobby_hours"
})

# Keep only relevant columns
df = df[["hobby_top1", "club_top1", "reads_books", "weekly_hobby_hours"]]

print(df.head())

  hobby_top1              club_top1 reads_books weekly_hobby_hours
0    Cricket          Robotics Club          No                  0
1     Coding            Coding Club   Sometimes                 40
2    Cricket            Coding Club   Sometimes                  5
3    Cricket  Entrepreneurship Cell   Sometimes                 10
4  Badminton          Literary Club   Regularly                  5

In [6]:
# drop duplicates and null values
df = df.drop_duplicates().dropna()

In [ ]:
# One-Hot Encode categorical features
df_encoded = pd.get_dummies(
    df, 
    columns=["hobby_top1", "club_top1", "reads_books"], 
    drop_first=True,
    dtype=int
)

In [22]:
df

,weekly_hobby_hours,hobby_top1_Coding,hobby_top1_Cricket,hobby_top1_Dance,hobby_top1_Debate,hobby_top1_Football,hobby_top1_Gym,hobby_top1_Hackathons,hobby_top1_Music,hobby_top1_Painting,...,hobby_top1_Writing,club_top1_Cultural Club,club_top1_Drama Club,club_top1_Entrepreneurship Cell,club_top1_Literary Club,club_top1_Music Club,club_top1_Robotics Club,club_top1_Sports Club,reads_books_Regularly,reads_books_Sometimes
0,0,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,40,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,5,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,10,False,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
4,5,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,10,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,True
106,33,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
107,5,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
109,0,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
110,30,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True